section {
  display: flex;
  justify-content: space-around;
  transition-duration: 3s;
}

svg:nth-of-type(1) {
  background-color: red;
}

section:hover svg:nth-of-type(1) {
  transition-duration: 3s;
  width: 300px;
}

svg:nth-of-type(2) {
  transition-duration: 3s;
  background-color: blue;
}
section:hover svg:nth-of-type(2) {
  border-radius: 100px;
}
svg:nth-of-type(3) {
  transition-duration: 3s;
  background-color: aqua;
}

section:hover svg:nth-of-type(3) {
  width: 0;
  height: 0;
  transform: rotate(180deg);
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid #f95959;
  background-color: rgba(0, 255, 255, 0);
}

section > div:last-child {
  display: flex;
  position: relative;
  animation: anim-run 3s infinite alternate;
}

section > div:last-child > svg.anim_run {
  width: 50px;
  height: 60px;
  align-self: center;
  animation: anim 1s steps(8) infinite;
}
@keyframes anim {
  0% {
    background: url("./image/anim.jpg") no-repeat 0 0;
  }
  50% {
    background: url("./image/anim.jpg") no-repeat -395px 0;
  }

  75% {
    background: url("./image/anim.jpg") no-repeat -395px 60px ;
  }
  100% {
    background: url("./image/anim.jpg") no-repeat 0 60px;
  }
}

@keyframes anim-run {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}
