.clearfix {
  clear: both;
}

.first_column {
  float: left;
  width: 20%;
}

.third_column {
  float: right;
  width: 200px;
}

.second_column {
  margin: 0 200px 0 20%;
}

.bg_first {
  background: url("../extra_5.1/image/ball1.jpg") repeat-y left top;
  background-size: 20% auto;
}

.bg_second {
  background: url("../extra_5.1/image/ball3!.png") repeat-y right top;
  background-size: 200px auto;
}

.bg_third {
  background: url("../extra_5.1/image/ball2.jpg") repeat;
}

.bg_ball {
  background: url("../extra_5.1/image/ball3.png") no-repeat left top,
    url("../extra_5.1/image/ball3.png") no-repeat left bottom,
    url("../extra_5.1/image/ball3.png") no-repeat right top,
    url("../extra_5.1/image/ball3.png") no-repeat right bottom,
    url("../extra_5.1/image/ball3.png") no-repeat 22% top,
    url("../extra_5.1/image/ball3.png") no-repeat 22% bottom,
    url("../extra_5.1/image/ball3.png") no-repeat 81% top,
    url("../extra_5.1/image/ball3.png") no-repeat 81% bottom,
    url("../extra_5.1/image/ball3.png") no-repeat 12% top,
    url("../extra_5.1/image/ball3.png") no-repeat 12% bottom,
    url("../extra_5.1/image/ball3.png") no-repeat 90% top,
    url("../extra_5.1/image/ball3.png") no-repeat 90% bottom;
}
