@import "./variables.scss";
@import "./mixin.scss";
@import "./extend.scss";

.show {
  display: block;
}

@media all and (max-width: 480px) {
  .container {
    max-width: 480px;
    margin: auto;
  }

  .inner-container {
    max-width: 360px;
    margin: auto;
  }

  .clearfix:after {
    content: "";
    clear: both;
    display: block;
  }

  header {
    background-color: #0060fc;

    div {
      .block_header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 7px 0 22px 0;
        & > div {
          button {
            height: 27px;
            @include main_font(
              $font_size: 16px,
              $font_weight: 500,
              $color: #fff
            );
            @include button(
              $bgc: $bgc-red,
              $mg_btn: 0,
              $pd-btn: 3px,
              $br-rs: 20px
            );
          }

          & > button:nth-child(1) {
            display: none;
          }

          & > button:nth-child(4) {
            align-self: flex-start;
            background-color: #0060fc;
            padding: 0.1px;
          }
          svg {
            display: none;
          }
        }
      }
    }
    nav {
      display: none;
    }

    nav {
      background: #fff;

      a {
        color: #000;
      }
      li {
        @include main_font($font_size: 19px, $font_weight: 600, $color: #000);
        margin: 10px 0;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        li:nth-of-type(1) {
          text-align: center;
          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            li {
              @include main_font(
                $font_size: 16px,
                $font_weight: 400,
                $color: #000
              );
            }
            a {
              color: #000;
            }
          }
        }
      }
    }
  }

  .block_radio {
    div:nth-of-type(1) {
      div:nth-of-type(1) {
        h1 {
          @include main_font($font_size: 21px, $font_weight: 700, $color: #000);
          margin-top: 30px;
        }

        div:nth-child(2) {
          display: none;
        }
      }

      .widget_right {
        margin-top: 10px;
        background: $main-bl;
        form {
          display: flex;
          align-items: center;
          padding: 15px 0;
          border-radius: 20px 0 0 20px;
          ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 10px;

            li {
              position: relative;
              button {
                width: 42px;
                height: 49px;
                border: none;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
              }

              input {
                width: 169px;
                height: 42px;
                padding-left: 45px;
                border: 2px solid #7ba7ab;
                border-radius: 25px;
                outline: none;
                background: rgba(255, 255, 255, 0.96);
                @include main_font(
                  $font_size: 16px,
                  $font_weight: 500,
                  $color: #9e9c9c
                );
              }
            }

            li:nth-of-type(1) {
              order: 2;
              button {
                position: absolute;
                top: 0;
                left: 5px;
              }

              input {
                width: 360px;
                background: rgba(255, 255, 255, 0.89);
              }
            }

            li:nth-of-type(2) {
              order: 1;
              button {
                position: absolute;
                top: 0;
                left: 5px;
              }
              button + button {
                position: absolute;
                top: 0;
                left: 131px;
              }
            }

            li:nth-of-type(3) {
              order: 1;
              button {
                position: absolute;
                top: 0;
                left: 5px;
              }

              button + button {
                position: absolute;
                top: 0;
                left: 129px;
              }
            }
          }
        }
      }
    }

    .block_radio-mini {
      h3 {
        display: none;
      }

      div:nth-of-type(1) > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
          display: block;
          order: 2;
        }
        ul {
          margin: 20px 0 10px 0;
          order: 1;
          li:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }

    .filter {
      div > div:nth-of-type(1) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 0;
        p {
          @include main_font($font_size: 21px, $font_weight: 700, $color: #000);
        }
        button {
          display: flex;
          flex-direction: column;
          svg {
            margin: 2px 0;
          }
        }
      }
      ul:nth-of-type(1) {
        display: none;
      }
    }

    div:nth-of-type(4) > div.books_list {
      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0;
        div {
          margin: 40px 0 10px 0;
        }

        & > div > div:nth-of-type(1) {
          margin: 5px 0;
          display: grid;
          grid-template: repeat(2, 50px) / 140px 140px;
          gap: 10px;

          p:nth-of-type(1) {
            @include main_font(
              $font_size: 20px,
              $font_weight: 600,
              $color: #000
            );
          }

          p:nth-of-type(2) {
            grid-area: 2/1/2/3;
            @include main_font(
              $font_size: 20px,
              $font_weight: 400,
              $color: #000
            );
          }
          div {
            margin: 0;
            grid-area: 1/2/3/3;
            align-self: center;
            justify-self: right;
          }
        }
      }
    }
    .arrow {
      display: none;
    }
  }

  footer {
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid #808080;
      & > div:nth-of-type(3) {
        border-bottom: none;
      }
      & > div {
        border-bottom: 1px solid #808080;
        width: 100%;

        ul {
          margin: 30px 0;

          li {
            @include main_font(
              $font_size: 16px,
              $font_weight: 500,
              $color: #000
            );
            text-align: center;
            margin-bottom: 10px;
          }
        }
      }
      div:first-child {
        ul:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

@media all and (min-width: 481px) {
  .cr_dp {
    max-width: 1920px;
    margin: auto;
  }

  .ir-cr_dp {
    max-width: 1278px;
    margin: auto;
  }

  header {
    background-color: #0060fc;

    div {
      .block_header {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 3px 0;

        & > div {
          display: flex;
          align-items: center;
          gap: 25px;

          button {
            height: 27px;
            @include main_font(
              $font_size: 16px,
              $font_weight: 500,
              $color: #fff
            );
            @include button(
              $bgc: $bgc-red,
              $mg_btn: 0,
              $pd-btn: 5px 20px,
              $br-rs: 20px
            );
          }
          & > button:nth-child(1) {
            display: block;
          }

          & > button:nth-child(2) {
            padding: 5px;
          }

          & > svg:nth-of-type(1) {
            margin-left: 50px;
          }
          & > svg {
            display: block;
          }
        }
        & > button:nth-child(3) {
          display: none;
        }
      }
    }

    nav {
      display: block;
      border-top: 1px solid rgba(255, 255, 255, 0.6);
      ul {
        display: flex;
        justify-content: space-between;
        li {
          @include main_font($font_size: 16px, $font_weight: 500, $color: #fff);
          padding: 6px 0;
          svg {
            transform: scale(0.5);
            vertical-align: middle;
          }
        }
        & > li:nth-of-type(1) {
          position: relative;
          ul {
            display: none;
          }
        }
        li:nth-of-type(1):hover > ul {
          display: block;
          width: 200px;
          background: $main-bl;
          position: absolute;
          top: 30px;
          left: 0;
          border-radius: 25px;
          padding: 10px;

          li:nth-of-type(1) {
            width: 100px;
            border-bottom: 1px solid #fff;
          }
        }
      }
    }
  }

  .block_radio {
    & > div:nth-of-type(1) {
      div:nth-of-type(1) {
        display: flex;
        justify-content: space-between;
        margin: 40px 0 30px 0;
        h1 {
          @include main_font($font_size: 50px, $font_weight: 700, $color: #000);
          margin-top: 50px;
          width: 45%;
          text-align: left;
          margin: 0;
        }

        & > div {
          margin: 0;

          ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex: 65% 1 0;
            li {
              display: flex;
              justify-content: space-around;
              @include main_font(
                $font_size: 17px,
                $font_weight: 600,
                $color: #000
              );
              p:first-child {
                @include main_font(
                  $font_size: 17px,
                  $font_weight: 500,
                  $color: #000
                );
                p:last-child {
                  @include main_font(
                    $font_size: 20px,
                    $font_weight: 600,
                    $color: #000
                  );
                }
              }

              li:nth-of-type(1) {
                font-weight: 600;
              }
            }
          }
          svg {
            flex: 10% 1 0;
            margin-left: 20px;
          }
        }
      }

      div:nth-of-type(2).widget_right {
        margin-top: 50px;

        form {
          justify-content: flex-end;
          position: fixed;
          top: 242px;
          left: 0;
          right: 1000px;
          display: flex;
          align-items: center;
          padding: 15px 0;
          background: $main-bl;
          border-radius: 0 20px 20px 0;
          ul {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            li {
              position: relative;
              margin-right: 30px;
              justify-content: flex-end;
              button {
                width: 42px;
                height: 49px;
                border: none;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
              }

              input {
                width: 232px;
                height: 42px;
                padding-left: 50px;
                border: 2px solid #7ba7ab;
                border-radius: 25px;
                outline: none;
                background: rgba(255, 255, 255, 0.96);
                color: #9e9c9c;
              }
            }

            li:nth-of-type(1) {
              order: 1;
              justify-content: flex-end;

              button {
                position: absolute;
                top: 0;
                left: 5px;
              }

              input {
                width: 232px;
                background: rgba(255, 255, 255, 0.89);
              }
            }

            li:nth-of-type(2) {
              margin-bottom: 10px;
              order: 0;
              justify-content: flex-end;

              button {
                position: absolute;
                top: 0;
                left: 5px;
              }
              button + button {
                position: absolute;
                top: 0;
                left: 190px;
              }
            }

            li:nth-of-type(3) {
              order: 0;
              button {
                position: absolute;
                top: 0;
                left: 5px;
              }

              button + button {
                position: absolute;
                top: 0;
                left: 185px;
              }
            }
          }
        }
      }
    }

    div:nth-of-type(2) > .block_radio-mini {
      border-top: 1px solid #808080;
      position: relative;
      z-index: -1;

      h3 {
        z-index: -1;
        position: absolute;
        top: -19px;
        left: 200px;
        background-color: #fff;
        padding: 0 20px 0 10px;
        @include main_font($font_size: 25px, $font_weight: 500, $color: #000);
      }

      & > div:nth-of-type(1) {
        & > div:nth-of-type(1) {
          margin: 40px 0;
          display: flex;
          justify-content: end;
          align-items: center;

          ul {
            width: 40%;
            margin-left: 100px;
            li {
              @include main_font(
                $font_size: 20px,
                $font_weight: 400,
                $color: #000
              );
              margin: 10px 0;
            }
          }
        }
      }
    }

    .filter {
      border-bottom: 1px solid #808080;
      & > div {
        display: flex;
        & > div:nth-of-type(1) {
          flex: 30% 1 0;
          p {
            @include main_font(
              $font_size: 29px,
              $font_weight: 600,
              $color: #000
            );
          }
          button:nth-of-type(1) {
            display: none;
          }
        }

        ul {
          display: flex;
          flex: 70% 1 0;
          justify-content: space-between;
          li {
            @include main_font(
              $font_size: 17px,
              $font_weight: 500,
              $color: #000
            );
            svg {
              margin-left: 3px;
              transform: scale(0.8);
            }
          }

          li:nth-of-type(4) {
            font-weight: 600;
          }
        }
      }
    }

    .books_list {
      & > div {
        display: flex;
        justify-content: space-between;
        margin: 40px 0;
        & > div {
          iframe {
            width: 250px;
            height: 203px;
          }

          & > div:nth-of-type(1) {
            margin: 10px 0;
            display: grid;
            grid-template: repeat(2, 50px) / 140px 140px;
            align-items: center;
            gap: 10px;

            p:nth-of-type(1) {
              @include main_font(
                $font_size: 20px,
                $font_weight: 600,
                $color: #000
              );
            }

            & > div:nth-of-type(1),
            div:nth-of-type(2) {
              display: flex;
              justify-content: right;
              gap: 0;

              p {
                @include main_font(
                  $font_size: 17px,
                  $font_weight: 300,
                  $color: #000
                );
              }
            }

            p:nth-of-type(2) {
              @include main_font(
                $font_size: 20px,
                $font_weight: 400,
                $color: #000
              );
            }

            p:nth-of-type(3) {
              @include main_font(
                $font_size: 22px,
                $font_weight: 500,
                $color: #000
              );
            }

            p:nth-of-type(4) {
              @include main_font(
                $font_size: 20px,
                $font_weight: 400,
                $color: #000
              );
              justify-self: end;
              text-align: right;
            }

            button:nth-of-type(1) {
              justify-self: flex-start;
              @include button(
                $bgc: $bgc-red,
                $mg_btn: 0,
                $pd-btn: 7px 45px,
                $br-rs: 25px
              );
              @include main_font(
                $font_size: 20px,
                $font_weight: 500,
                $color: #fff
              );
            }
          }
        }
      }
    }
    .arrow {
      display: flex;
      justify-content: space-between;

      button {
        @include main_font(
          $font_size: 20px,
          $font_weight: 500,
          $color: #808080
        );
        @include button(
          $bgc: #fff,
          $mg_btn: 70px 0,
          $pd-btn: 20px 27px,
          $br-rs: 25px
        );
        border-radius: 25px;
        border: 1px solid #808080;
      }
    }
  }

  footer {
    background: $main-bl;
    nav {
      display: flex;
      flex-direction: row;
      padding: 70px 0 30px 0;

      & > div:nth-of-type(1) {
        flex: 13% 1 0;
        padding-left: 110px;
      }

      & > div:nth-of-type(2) {
        flex: 14% 1 0;
        padding: 0 70px;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
      }

      & > div:nth-of-type(3) {
        flex: 25% 1 0;
        padding-left: 40px;
      }

      & > div {
        border-bottom: none;

        ul {
          li {
            @include main_font(
              $font_size: 19px,
              $font_weight: 500,
              $color: #fff
            );
            text-align: left;
            padding: 5px 0;
          }
        }
      }
    }
  }
}
