.main {
     display: grid;
     grid-template: 43px 1fr / auto 200px;
     
  }
  .menu {
    background: rgb(175, 174, 87);
  }
  .content {
    padding: 0 10px;
    background: url("./image/1s.gif") repeat-y top right;
  }
  .image {
    
    margin: 20px;
  }
  
  .h_content {
    margin: 0;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .h_menu {
    padding: 10px 0 10px 5px;
    font-size: 15px;
  }
  
  .blue {
    padding: 10px;
    background-color: rgb(220, 242, 245);
    color: blue;
    font: bold 20px arial;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
  }
  
  @media all and (max-width: 560px) {
    .main {
      display: flex;
      flex-direction: column;
      padding: 20px 10px;
    }
  
    .h_content{
      padding: 0;
    }
  
    .menu {
      width: auto;
      order: 1;
      background-color: rgba(255, 228, 196, 0);
    }
  
    .menu ul {
      padding: 0;
      margin: 0;
    }
  
    .menu ul li {
      display: inline;
      list-style: none;
      padding-right:5px ;
    }
  
    .menu h3 {
      margin: 0;
    }
  
    .content {
      display: flex;
      flex-direction: column;
      padding: 0;
      order:0 ;
      background: none;
    }
  
    .content img {
      float: none;
    }
  
    .image {
      margin: 10px;
    }
  }
  