.clearfix {
  clear: both;
}
.main {
  background: url("/home_work1/image/base_5/Vector_1.png") left top repeat-y;
}
.menu {
  float: left;
  width: 200px;

  vertical-align: top;
}
.content {
  margin-left: 200px;
  padding: 0 10px;
  vertical-align: top;
  background: url("/home_work1/image/base_5/1s.gif") repeat-y top right;
}
.image {
  float: left;
  margin: 10px;
}

.h_content {
  margin: 0;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.h_menu {
  padding: 10px 0 10px 5px;
  font-size: 15px;
}

.blue {
  padding: 10px;
  background-color: rgb(220, 242, 245);
  color: blue;
  font: bold 20px arial;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
