.menu {
  width: 200px;
  background: orange;
  vertical-align: top;
}
.content {
  padding: 0 10px;
  vertical-align: top;
  background: url("/home_work1/image/base_5/1s.gif") repeat-y top right;
}
.image {
  float: left;
  margin: 10px;
}

.h_content {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.h_menu {
  padding-left: 10px;
  font-weight: bold;
}
.blue {
  padding: 10px;
  background-color: rgb(220, 242, 245);
  color: blue;
  font: bold 20px arial;
  text-transform: uppercase;
  letter-spacing: 1px;
}
