.clearfix::after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.bg_white {
  background: white;
}

.cont_in_title {
  padding: 70px 0 40px 0;
  color: #003b77;
  font-size: 52px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  line-height: 140%;
}

.title_white {
  color: #fff;
}

.header {
  padding: 0 50px;
  border-bottom: 1px solid gray;
}
.conteiner {
  width: 1420px;
  margin: auto;
}

.h_logo {
  float: left;
  padding: 20px 50px;
}
.h_bg_logo {
  padding: 1px;
  background: #003d6e;
  color: cornsilk;
  font-size: 30px;
  letter-spacing: 1px;
  vertical-align: bottom;
}

.h_list ul {
  float: left;
}

.h_list ul li {
  float: left;
  padding: 30px 30px 30px 0;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.h_list {
  float: right;
  padding-right: 100px;
}

.polygon {
  vertical-align: middle;
}
.h_bth {
  height: 80px;
  margin-right: 20px;
  padding: 10px;
  background: #003d6e;
  color: cornsilk;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.mn_title {
  margin: 0;
  font-size: 250px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #003d6e;
  text-align: center;
}

.low_title {
  font-size: 60px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 140%;
  text-transform: uppercase;
  color: #9f9;
}

.mn_1_title_part {
  float: left;
  margin-right: 20px;
  vertical-align: top;
  font-size: 60px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 140%;
  text-transform: uppercase;
  color: #f3f3f3;
}
.mn_1_text {
  float: left;
  color: #fff;
  font-size: 18px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  line-height: 140%;
}
.mn_1_link {
  font-size: 18px;
  color: #fff;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.bg_image_general {
  background: url("../maket1/image/XXL2.jpg") no-repeat center 155%;
}
.conteiner_title {
  padding: 0 100px 100px 230px;
}

.main_1_list {
  margin-left: 1000px;
}

.main_1_list li {
  float: left;
  padding: 0 30px 50px 0;
  color: #fff;
  font-size: 16px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 140%;
  text-transform: uppercase;
}

.block_statistics {
  margin: 140px 0;
}

.statistics_list li {
  float: left;
}

.statistics_list .first {
  color: #111827;
  font-size: 22px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 140%;
}

.statistics_list .second {
  color: #003b77;
  font-size: 80px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}

.statistics_list li {
  padding-right: 70px;
}

.statistics_list span {
  font-size: 40px;
}

.block_about_us p {
  margin: 0 0 20px 400px;
  color: #111827;
  font-size: 24px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  line-height: 140%;
}

.block_map {
  margin: 70px 0;
}

.block_map a {
  font-size: 18px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.block_map img {
  vertical-align: text-top;
}

.block_services {
  background: url("../maket1/image/XXL\ 2.jpg") no-repeat center 230%;
}

.block_in_services {
  color: #fff;
  font-size: 24px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  line-height: 140%;
}

.block_services_link a {
  color: #fff;
  font-size: 18px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.block_services_link img {
  vertical-align: middle;
}

.block_services_link {
  margin-top: 20px;
  text-align: right;
}

.services_first {
  background: url("../maket1/image/Image (1).png");
}

.services_second {
  background: url("../maket1/image/Card Transportation (2).png");
}

.services_third {
  background: url("../maket1/image/Rectangle (1).png");
}

.block_services_slides div {
  display: inline-block;
  margin: 50px 10px 70px 0;
  width: 457px;
  height: 349px;
}

.block_services_slides p {
  margin: 229px 0px 0px 13px;
  color: #fff;
  font-size: 22px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.block_advantages_bg {
  position: relative;
  float: left;
  background: #09325b;
  width: 472px;
  height: 472px;
  margin: 10px;
}

.block_advantages_bg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block_advantages_bg > p {
  padding: 30px 200px 20px 30px;
  color: #fff;
  font-size: 22px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.block_advantages_bg p:last-child {
  position: absolute;
  bottom: 0;
  left: 5%;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
}

.block_advantages_bg:nth-child(2) {
  background-color: #fff;
  border: 1px solid #d1d5db;
  margin-top: 50px;
}

.block_advantages_bg:nth-child(3) {
  margin-top: -30px;
}

.block_advantages_bg:nth-child(2) > p {
  color: #111827;
}

.block_advantages_bg:nth-child(2) > p + p {
  position: static;
  transform: none;
  color: #111827;
  font-size: 16px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.general_bl_advantages {
  width: 1000px;
  height: 1000px;
  margin: auto;
}

.bc_partners p {
  padding-left: 350px;
  color: #111827;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.bc_partners ul {
  margin: 40px 0;
}

.bc_partners ul li a {
  float: left;
  padding: 0 37px 0 10px;
  color: #6b7280;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}

.bc_partners ul li:last-child a{
  padding: 0;
} 


.bk_link_cards div {
  display: inline-block;
  position: relative;
  background-color: #f3f3f3;
  margin: 10px;
  vertical-align: bottom;
}

.bk_link_cards div:nth-child(n + 2):nth-child(-n + 4) {
  width: 310px;
  height: 350px;
}

.bk_link_cards div:nth-child(n + 2):nth-child(-n + 4) img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bk_link_cards div:nth-child(5) {
  width: 718px;
  height: 350px;
}

.bk_link_cards div:nth-child(5) img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bk_link_cards div:nth-child(6) {
  position: relative;
  width: 310px;
  height: 350px;
  background-color: #9f9;
}

.bk_link_cards a{
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line: underline;
  text-transform: uppercase;
  
}

.bk_link_cards div span img{
vertical-align:text-top;
}

.bk_link_cards div span{
  position: absolute;
  top: 85%;
  left: 25%;
}
