.clearfix::after{
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.bg_white {
  background: white;
}

.header {
  padding: 0 50px;
  border-bottom: 1px solid gray;
}
.conteiner {
  width: 1420px;
  margin: auto;
}

.h_logo {
  float: left;
  padding: 20px 50px;
}
.h_bg_logo {
  padding: 1px;
  background: #003d6e;
  color: cornsilk;
  font-size: 30px;
  letter-spacing: 1px;
  vertical-align: bottom;
}

.h_list ul {
  float: left;
}

.h_list ul li {
  float: left;
  padding: 30px 30px 30px 0;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.h_list {
  float: right;
  padding-right: 100px;
}

.polygon {
  vertical-align: middle;
}
.h_bth {
  height: 80px;
  margin-right: 20px;
  padding: 10px;
  background: #003d6e;
  color: cornsilk;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.mn_title {
  margin: 0;
  font-size: 250px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #003d6e;
  text-align: center;
}

.low_title {
  font-size: 60px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 140%;
  text-transform: uppercase;
  color: #9f9;
}

.mn_1_title_part {
  float: left;
  margin-right: 20px;
  vertical-align: top;
  font-size: 60px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 140%;
  text-transform: uppercase;
  color: #f3f3f3;
}
.mn_1_text {
  float: left;
  color: #fff;
  font-size: 18px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  line-height: 140%;
}
.mn_1_link {
  font-size: 18px;
  color: #fff;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.bg_image_general {
  background: url("/image/maket1/XXL2.jpg") no-repeat center 230%;
}
.conteiner_title {
  padding: 0 100px 100px 230px;
}

.main_1_list {
  margin-left: 1000px;
}

.main_1_list li {
  float: left;
  padding: 0 30px 50px 0;
  color: #fff;
  font-size: 16px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 140%;
  text-transform: uppercase;
}

.block_statistics {
  margin: 140px 0;
}

.statistics_list li {
  float: left;
}

.cont_in_title {
  padding-bottom: 40px;
  color: #003b77;
  font-size: 52px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  line-height: 140%;
}

.title_white {
  color: #fff;
}

.statistics_list .first {
  color: #111827;
  font-size: 22px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 140%;
}

.statistics_list .second {
  color: #003b77;
  font-size: 80px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}

.statistics_list li {
  padding-right: 70px;
}

.statistics_list span {
  font-size: 40px;
}

.block_about_us p {
  margin: 0 0 20px 400px;
  color: #111827;
  font-size: 24px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  line-height: 140%;
}

.block_map {
  margin: 70px 0;
}

.block_map a {
  font-size: 18px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.block_map img {
  vertical-align: text-top;
}

.block_services {
  background: url("/image/maket1/XXL\ 2.jpg") no-repeat center -1500%;
}

.block_in_services {
  color: #fff;
  font-size: 24px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  line-height: 140%;
}

.block_services_link a {
  color: #fff;
  font-size: 18px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 140%;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.block_services_link img {
  vertical-align: middle;
}

.block_services_link {
  margin-top: 20px;
  text-align: right;
}

.services_first {
  background: url("/image/maket1/Image (1).png");
}

.services_second {
  background: url("/image/maket1/Card Transportation (2).png");
}

.services_third {
  background: url("/image/maket1/Rectangle (1).png");
}

.block_services_slides div {
  display: inline-block;
  margin: 50px 10px 70px 0;
  width: 457px;
  height: 349px;
}

.block_services_slides p {
  margin: 229px 0px 0px 13px;
  color: #fff;
  font-size: 22px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.block_advantages_bg {
  float: left;
  background: #09325b;
  width: 472px;
  height: 472px;
  margin: 10px;
}

.block_advantages_bg > p {
  color: #fff;
  font-size: 22px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.block_advantages_bg:nth-child(3) {
  background-color: #fff;
  border: 1px solid #d1d5db;
  margin-top: 50px;
}

.block_advantages_bg:nth-child(4){
  margin-top: -30px;
}

.block_advantages_bg:nth-child(3) > p {
  color: #111827;
}

.block_advantages_bg:nth-child(3) > p + p {
  color: #111827;
  font-size: 16px;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
