.block {
  position: relative;
  width: 550px;
  height: 550px;
}

.block div:nth-child(1) {
  width: 550px;
  height: 550px;
  position: absolute;
  top: 40px;
  left: 40px;
}

.block div:nth-child(2) {
  width: 550px;
  height: 550px;
  position: absolute;
  top: 40px;
  left: 40px;
}
