.show {
  display: block;
}

@media all and (max-width: 480px) {
  .container {
    max-width: 480px;
    margin: auto;
  }
  .inner-container {
    max-width: 360px;
    margin: auto;
  }
  .clearfix:after {
    content: "";
    clear: both;
    display: block;
  }
  header {
    background-color: #0060fc;
  }
  header div .block_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0 22px 0;
  }
  header div .block_header > div button {
    height: 27px;
    color: #fff;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #f2111e;
    margin: 0;
    padding: 3px;
    border-radius: 20px;
  }
  header div .block_header > div > button:nth-child(1) {
    display: none;
  }
  header div .block_header > div > button:nth-child(4) {
    align-self: flex-start;
    background-color: #0060fc;
    padding: 0.1px;
  }
  header div .block_header > div svg {
    display: none;
  }
  header nav {
    display: none;
  }
  header nav {
    background: #fff;
  }
  header nav li {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px 0;
  }
  header nav menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav menu li:nth-of-type(1) {
    text-align: center;
  }
  header nav menu li:nth-of-type(1) ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav menu li:nth-of-type(1) ul li {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  header nav menu li:nth-of-type(1) ul a {
    color: #000;
  }
  .block_my-lessons h1 {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
  }
  .block_my-lessons .widget_right {
    margin-top: 10px;
    background: #0060FC;
  }
  .block_my-lessons form {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-radius: 20px 0 0 20px;
  }
  .block_my-lessons form ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  .block_my-lessons form ul li {
    position: relative;
  }
  .block_my-lessons form ul li button {
    width: 42px;
    height: 49px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .block_my-lessons form ul li input {
    width: 169px;
    height: 42px;
    padding-left: 40px;
    border: 2px solid #7ba7ab;
    border-radius: 25px;
    outline: none;
    background: rgba(255, 255, 255, 0.96);
    color: #9e9c9c;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .block_my-lessons form ul li:nth-of-type(1) {
    order: 2;
  }
  .block_my-lessons form ul li:nth-of-type(1) button {
    position: absolute;
    top: 0;
    left: 5px;
  }
  .block_my-lessons form ul li:nth-of-type(1) input {
    width: 360px;
    background: rgba(255, 255, 255, 0.89);
  }
  .block_my-lessons form ul li:nth-of-type(2) {
    order: 1;
  }
  .block_my-lessons form ul li:nth-of-type(2) button {
    position: absolute;
    top: 0;
    left: 5px;
  }
  .block_my-lessons form ul li:nth-of-type(2) button + button {
    position: absolute;
    top: 0;
    left: 131px;
  }
  .block_my-lessons form ul li:nth-of-type(3) {
    order: 1;
  }
  .block_my-lessons form ul li:nth-of-type(3) button {
    position: absolute;
    top: 0;
    left: 5px;
  }
  .block_my-lessons form ul li:nth-of-type(3) button + button {
    position: absolute;
    top: 0;
    left: 129px;
  }
  .block_my-lessons .lessons {
    margin: 30px 0;
  }
  .block_my-lessons .lessons > div > div {
    display: grid;
    justify-content: space-between;
    grid-template-areas: "a a a a a" "b b b b b" "c c c d d" "e e f f f" "g g g g g";
    place-items: center;
    gap: 20px;
    width: 360px;
    border-radius: 15px;
    border: 1px solid #000;
  }
  .block_my-lessons .lessons > div > div > div {
    display: grid;
    align-items: center;
    width: 100%;
    grid-area: a;
  }
  .block_my-lessons .lessons > div > div > div svg:first-child {
    grid-area: 1/1/2/2;
  }
  .block_my-lessons .lessons > div > div > div > ul:last-child {
    display: flex;
    justify-content: space-around;
    grid-area: 1/2/2/6;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(1) {
    display: flex;
    grid-area: g;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(1) li:first-child {
    order: 1;
    grid-area: 5/3/3/6;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(1) li:last-child {
    order: -1;
    grid-area: 5/1/3/3;
  }
  .block_my-lessons .lessons > div > div > p {
    grid-area: b;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(2) {
    grid-area: c;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(3) {
    grid-area: e;
    justify-self: right;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(4) {
    grid-area: d;
    justify-self: left;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(5) {
    grid-area: f;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(6) {
    grid-area: h;
  }
  .block_my-lessons .lessons > div > div > div ~ ul li:nth-child(1) {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
  }
  .block_my-lessons .lessons > div > div > div ~ ul li:nth-child(1) span {
    margin-right: 5px;
    vertical-align: text-top;
  }
  .block_my-lessons .lessons > div > div > div ~ ul li:nth-child(2) {
    color: rgba(0, 0, 0, 0.66);
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 29px;
  }
  .block_my-lessons .lessons > div > div > div:nth-of-type(1) svg {
    transform: scale(0.7);
  }
  .block_my-lessons .lessons > div > div > div:nth-of-type(1) > ul li {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(1) li:nth-child(1) button {
    display: flex;
    align-items: center;
    border: 1px solid #0060fc;
    background-color: #fff;
    margin: 0 0 0 50px;
    padding: 8px 10px 0 0;
    border-radius: 25px;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(1) li:nth-child(1) button li {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.54px;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(1) li:nth-child(1) button svg {
    margin: 0 0 5px 5px;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(1) li:nth-of-type(2) {
    margin-left: 0;
  }
  .block_my-lessons .lessons > div > div p {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    grid-area: 2/1/3/6;
    padding: 10px 0;
  }
  .block_my-lessons .lessons .comment {
    display: block;
    padding: 10px 20px;
    border-radius: 0 0 36px 36px;
    background: #e4dfdf;
  }
  .block_my-lessons .lessons .comment > div {
    display: block;
  }
  .block_my-lessons .lessons .comment ul:first-child li:first-child {
    margin-top: 40px;
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
  }
  .block_my-lessons .lessons .comment ul:first-child li:last-child p {
    padding: 5px 10px;
    border-radius: 14px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .block_my-lessons .lessons .comment ul:last-child {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .block_my-lessons .lessons .comment ul:last-child li {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .block_my-lessons .lessons .comment ul:last-child li:first-child {
    margin-bottom: 10px;
  }
  .block_my-lessons .lessons .comment ul:last-child li:last-child button {
    color: #fff;
    background-color: #f2111e;
    margin: 0;
    padding: 10px 8px;
    border-radius: 25px;
  }
  .block_my-lessons div:nth-of-type(3) > div > div > ul:nth-of-type(1) li:nth-child(1) button {
    margin: 0;
  }
  .block_my-lessons div:nth-of-type(3) > div > div > div {
    justify-self: flex-start;
    position: relative;
  }
  .block_my-lessons div:nth-of-type(3) > div > div > div svg {
    margin-left: 5px;
  }
  .block_my-lessons div:nth-of-type(4) > div > div > ul:nth-of-type(1) li:nth-child(1) button {
    margin: 0;
  }
  .block_my-lessons div:nth-of-type(4) > div > div > div > div {
    width: 55px;
    height: 55px;
    border-radius: 38px;
    background: #dcff04;
  }
  .block_my-lessons div:nth-of-type(4) > div > div > div {
    justify-self: flex-start;
    position: relative;
  }
  .block_my-lessons div:nth-of-type(4) > div > div > div div {
    margin-left: 5px;
  }
  .block_my-lessons div:nth-of-type(4) ul:nth-of-type(1) {
    order: 0;
  }
  .block_my-lessons > div:nth-of-type(6) > div > div > div {
    justify-self: left;
  }
  .block_my-lessons > div:nth-of-type(6) > div > div > div svg {
    margin-left: 5px;
  }
  .block_my-lessons > div:nth-of-type(8) {
    margin-bottom: 100px;
  }
  .block_my-lessons > div:nth-of-type(8) > div > div > div {
    justify-self: left;
  }
  .block_my-lessons > div:nth-of-type(8) > div > div > div svg {
    margin-left: 5px;
  }
  footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #808080;
  }
  footer nav > div:nth-of-type(3) {
    border-bottom: none;
  }
  footer nav > div {
    border-bottom: 1px solid #808080;
    width: 100%;
  }
  footer nav > div menu {
    margin: 30px 0;
  }
  footer nav > div menu li {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom: 10px;
  }
  footer nav div:first-child menu:first-child {
    margin-top: 0;
  }
}
@media all and (min-width: 481px) {
  .cr_dp {
    max-width: 1920px;
    margin: auto;
  }
  .ir-cr_dp {
    max-width: 1278px;
    margin: auto;
  }
  header {
    background-color: #0060fc;
  }
  header div .block_header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 3px 0;
  }
  header div .block_header > div {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  header div .block_header > div button {
    height: 27px;
    color: #fff;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #f2111e;
    margin: 0;
    padding: 5px 20px;
    border-radius: 20px;
  }
  header div .block_header > div > button:nth-child(1) {
    display: block;
  }
  header div .block_header > div > button:nth-child(2) {
    padding: 5px;
  }
  header div .block_header > div > svg:nth-of-type(1) {
    margin-left: 50px;
  }
  header div .block_header > div > svg {
    display: block;
  }
  header div .block_header > button:nth-child(3) {
    display: none;
  }
  header nav {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
  }
  header nav menu {
    display: flex;
    justify-content: space-between;
  }
  header nav menu li {
    color: #fff;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 6px 0;
  }
  header nav menu li svg {
    transform: scale(0.5);
    vertical-align: middle;
  }
  header nav menu > li:nth-of-type(1) {
    position: relative;
  }
  header nav menu > li:nth-of-type(1) ul {
    display: none;
  }
  header nav menu li:nth-of-type(1):hover > ul {
    display: block;
    width: 200px;
    background: #0060FC;
    position: absolute;
    top: 30px;
    left: 0;
    border-radius: 25px;
    padding: 10px;
  }
  header nav menu li:nth-of-type(1):hover > ul li:nth-of-type(1) {
    width: 100px;
    border-bottom: 1px solid #fff;
  }
  .block_my-lessons h1 {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
  }
  .block_my-lessons .widget_right {
    margin-top: 50px;
  }
  .block_my-lessons form {
    position: fixed;
    top: 129px;
    left: 510px;
    right: 0px;
    display: flex;
    align-items: center;
    padding: 15px 0;
    background: #0060FC;
    border-radius: 20px 0 0 20px;
  }
  .block_my-lessons form ul {
    display: flex;
    flex-wrap: nowrap;
  }
  .block_my-lessons form ul li {
    position: relative;
    margin-right: 70px;
  }
  .block_my-lessons form ul li button {
    width: 42px;
    height: 49px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .block_my-lessons form ul li input {
    width: 232px;
    height: 42px;
    padding-left: 50px;
    border: 2px solid #7ba7ab;
    border-radius: 25px;
    outline: none;
    background: rgba(255, 255, 255, 0.96);
    color: #9e9c9c;
  }
  .block_my-lessons form ul li:nth-of-type(1) {
    order: 0;
  }
  .block_my-lessons form ul li:nth-of-type(1) button {
    position: absolute;
    top: 0;
    left: 5px;
  }
  .block_my-lessons form ul li:nth-of-type(1) input {
    width: 232px;
    background: rgba(255, 255, 255, 0.89);
  }
  .block_my-lessons form ul li:nth-of-type(2) {
    order: 0;
  }
  .block_my-lessons form ul li:nth-of-type(2) button {
    position: absolute;
    top: 0;
    left: 5px;
  }
  .block_my-lessons form ul li:nth-of-type(2) button + button {
    position: absolute;
    top: 0;
    left: 185px;
  }
  .block_my-lessons form ul li:nth-of-type(3) {
    order: 0;
  }
  .block_my-lessons form ul li:nth-of-type(3) button {
    position: absolute;
    top: 0;
    left: 5px;
  }
  .block_my-lessons form ul li:nth-of-type(3) button + button {
    position: absolute;
    top: 0;
    left: 185px;
  }
  .block_my-lessons .lessons {
    margin-bottom: 30px;
  }
  .block_my-lessons .lessons > div > div {
    display: grid;
    place-items: center;
    grid-template: repeat(1, 85px)/1fr 1fr 220px 1fr 1fr 1fr 1fr;
    width: 1280px;
    border-radius: 15px;
    border: 1px solid #000;
  }
  .block_my-lessons .lessons > div > div > div ~ ul li:nth-child(1) {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
  }
  .block_my-lessons .lessons > div > div > div ~ ul li:nth-child(1) span {
    margin-right: 5px;
    vertical-align: text-top;
  }
  .block_my-lessons .lessons > div > div > div ~ ul li:nth-child(2) {
    margin-left: 28px;
    color: rgba(0, 0, 0, 0.66);
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .block_my-lessons .lessons > div > div > div:nth-of-type(1) {
    display: flex;
    align-items: inherit;
  }
  .block_my-lessons .lessons > div > div > div:nth-of-type(1) > ul li {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .block_my-lessons .lessons > div > div > div:nth-of-type(1) > ul li:nth-child(1) {
    margin-bottom: 20px;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(1) li:nth-child(1) button {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #0060fc;
    background-color: #fff;
    margin: 0;
    padding: 8px 20px 0 0;
    border-radius: 25px;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(1) li:nth-child(1) button li {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.54px;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(1) li:nth-child(1) button svg {
    margin: 0 0 5px 5px;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(1) li:nth-of-type(2) {
    margin-left: 0;
  }
  .block_my-lessons .lessons > div > div p {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(3) li:first-child {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .block_my-lessons .lessons > div > div > div {
    grid-area: 1;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(1) {
    grid-area: 1;
  }
  .block_my-lessons .lessons > div > div > p {
    grid-area: 1;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(2) {
    grid-area: 1;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(3) {
    grid-area: 1;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(4) {
    grid-area: 1;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(5) {
    grid-area: 1;
  }
  .block_my-lessons .lessons > div > div > ul:nth-of-type(6) {
    grid-area: 1;
  }
  .block_my-lessons .lessons .comment {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 0 0 36px 36px;
    background: #e4dfdf;
  }
  .block_my-lessons .lessons .comment ul:first-child {
    flex: 65% 1 0;
  }
  .block_my-lessons .lessons .comment ul:first-child li:first-child {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
  }
  .block_my-lessons .lessons .comment ul:first-child li:last-child p {
    padding: 5px 10px;
    border-radius: 14px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .block_my-lessons .lessons .comment ul:last-child {
    flex: 15% 1 0;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .block_my-lessons .lessons .comment ul:last-child li {
    color: #000;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .block_my-lessons .lessons .comment ul:last-child li:first-child {
    margin-bottom: 10px;
  }
  .block_my-lessons .lessons .comment ul:last-child li:last-child button {
    color: #fff;
    background-color: #f2111e;
    margin: 0;
    padding: 10px 8px;
    border-radius: 25px;
  }
  .block_my-lessons div:nth-of-type(2) > div > div > div {
    justify-self: flex-start;
  }
  .block_my-lessons div:nth-of-type(2) > div > div > div svg {
    margin-left: 5px;
  }
  .block_my-lessons div:nth-of-type(3) > div > div > div {
    justify-self: flex-start;
    position: relative;
  }
  .block_my-lessons div:nth-of-type(3) > div > div > div svg {
    margin-left: 5px;
  }
  .block_my-lessons div:nth-of-type(3) > div > div > div ul {
    position: absolute;
    top: -9px;
    left: 76px;
  }
  .block_my-lessons div:nth-of-type(3) ul:nth-of-type(1) {
    align-self: flex-start;
    margin-top: 2px;
  }
  .block_my-lessons div:nth-of-type(4) > div > div > div > div {
    width: 55px;
    height: 55px;
    border-radius: 38px;
    background: #dcff04;
  }
  .block_my-lessons div:nth-of-type(4) > div > div > div {
    justify-self: flex-start;
    position: relative;
  }
  .block_my-lessons div:nth-of-type(4) > div > div > div div {
    margin-left: 5px;
  }
  .block_my-lessons div:nth-of-type(4) > div > div > div ul {
    position: absolute;
    top: -9px;
    left: 76px;
  }
  .block_my-lessons div:nth-of-type(4) ul:nth-of-type(1) {
    align-self: flex-start;
    margin-top: 2px;
  }
  .block_my-lessons > div:nth-of-type(6) > div > div > div {
    justify-self: left;
  }
  .block_my-lessons > div:nth-of-type(6) > div > div > div svg {
    margin-left: 5px;
  }
  .block_my-lessons > div:nth-of-type(8) {
    margin-bottom: 100px;
  }
  .block_my-lessons > div:nth-of-type(8) > div > div > div {
    justify-self: left;
  }
  .block_my-lessons > div:nth-of-type(8) > div > div > div svg {
    margin-left: 5px;
  }
  footer {
    background: #0060FC;
  }
  footer nav {
    display: flex;
    flex-direction: row;
    padding: 70px 0 30px 0;
  }
  footer nav > div:nth-of-type(1) {
    flex: 13% 1 0;
    padding-left: 110px;
  }
  footer nav > div:nth-of-type(2) {
    flex: 14% 1 0;
    padding: 0 70px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
  }
  footer nav > div:nth-of-type(3) {
    flex: 25% 1 0;
    padding-left: 40px;
  }
  footer nav > div {
    border-bottom: none;
  }
  footer nav > div menu li {
    color: #fff;
    font-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto", sans-serif, "Rubik", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    padding: 5px 0;
  }
}/*# sourceMappingURL=style.css.map */