@mixin main_font($font_size, $font_weight, $color) {
  color: $color;
  font-family: $mainfont-family;
  font-size: $font_size;
  font-style: normal;
  font-weight: $font_weight;
  line-height: 140%;
}

@mixin red_button($bgc-red, $mg_btn-red, $pd-btn-red) {
  background-color: $bgc-red;
  margin: $mg_btn-red;
  padding: $pd-btn-red;
}

@mixin block_flex($justify-content){
  @extend %block-top-indent;
  justify-content: $justify-content;
}
