$bgc-red: #ec1b2e;
$main_color: #333;
$mainfont-family: "Righteous", cursive, "Roboto", sans-serif, "Montserrat",
  sans-serif;

@mixin main_font($font_size, $font_weight, $color) {
  color: $color;
  font-family: $mainfont-family;
  font-size: $font_size;
  font-style: normal;
  font-weight: $font_weight;
  line-height: 140%;
}

.conteiner {
  width: 1296px;
  margin: auto;
}

header.conteiner {
  margin-bottom: 20px;

  & > ul {
    padding: 15px 0;
    border-bottom: 1px solid gray;

    & > li:last-child {
      padding: 10px 20px;
      @include main_font($font_size: 14px, $font_weight: 700, $color: #fff);
      background-color: $bgc-red;
    }
    & > li {
      &:first-child {
        width: 250px;
        @include main_font(
          $font_size: 14px,
          $font_weight: 700,
          $color: #ec1b2e
        );
        letter-spacing: 0.28px;
        text-transform: uppercase;
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li {
    &:nth-child(2) {
      li {
        padding: 0 30px;
        @include main_font(
          $font_size: 14px,
          $font_weight: 400,
          $color: $main_color
        );
      }

      li:nth-last-of-type(1):before {
        margin-right: 20px;
        content: url("../maket2_flex/image/carbon_phone-filled.svg");
        vertical-align: middle;
      }

      li:nth-last-of-type(2):before {
        margin-right: 20px;
        content: url("../maket2_flex/image/ci_location.svg");
        vertical-align: middle;
      }

      li:nth-last-of-type(3):before {
        margin-right: 20px;
        content: url("../maket2_flex/image/fluent_mail-16-filled.svg");
        vertical-align: middle;
      }
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > menu {
      display: flex;
      justify-content: space-between;

      & > li {
        padding: 20px 0 20px 20px;
        @include main_font(
          $font_size: 14px,
          $font_weight: 700,
          $color: $main_color
        );
      }
    }

    & > a {
      display: inline-block;
    }
  }
}

.slide {
  background: url("./image/img_slide_bg.jpg") no-repeat;
  background-size: cover;
  padding: 0.1px;
  height: 700px;
  div {
    button {
      padding: 20px;
      background-color: $bgc-red;
    }

    & button:nth-child(2)  {
      position: relative;
      left: -100px;
      top: 0;
    }

    & button:nth-child(3)  {
      position: relative;
      left: 1275px;
      top: 0;
    }

    & > div {
      position: relative;
      top: 200px;
      left: 200px;
      & > p {
        @include main_font($font_size: 40px, $font_weight: 800, $color: #fff);
        width: 526px;
        padding: 15px 30px;
        background-color: rgba(51, 51, 51, 0.5);
      }

      button {
        margin-top: 40px;
        padding: 15px 30px;
        @include main_font($font_size: 14px, $font_weight: 700, $color: #fff);
        background-color: $bgc-red;
      }
    }
  }
}
