main .table_prices div:first-child, main .table_prices div, main .table_prices, main section.prices menu.second_menu, main section.prices menu.first_menu {
  display: flex;
  margin-top: 50px;
}

.conteiner {
  width: 1296px;
  margin: auto;
}

header.conteiner {
  margin-bottom: 20px;
}
header.conteiner > ul {
  padding: 15px 0;
  border-bottom: 1px solid gray;
}
header.conteiner > ul > li:last-child {
  color: #fff;
  font-family: "Righteous", cursive, "Roboto", sans-serif, "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  background-color: #ec1b2e;
  margin: 0;
  padding: 10px 20px;
}
header.conteiner > ul > li:first-child {
  width: 250px;
  color: #ec1b2e;
  font-family: "Righteous", cursive, "Roboto", sans-serif, "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}
header.conteiner ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.conteiner li:nth-child(2) li {
  padding: 0 30px;
  color: #333;
  font-family: "Righteous", cursive, "Roboto", sans-serif, "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
header.conteiner li:nth-child(2) li:nth-last-of-type(1):before {
  margin-right: 20px;
  content: url("../maket2_flex/image/carbon_phone-filled.svg");
  vertical-align: middle;
}
header.conteiner li:nth-child(2) li:nth-last-of-type(2):before {
  margin-right: 20px;
  content: url("../maket2_flex/image/ci_location.svg");
  vertical-align: middle;
}
header.conteiner li:nth-child(2) li:nth-last-of-type(3):before {
  margin-right: 20px;
  content: url("../maket2_flex/image/fluent_mail-16-filled.svg");
  vertical-align: middle;
}
header.conteiner nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.conteiner nav > menu {
  display: flex;
  justify-content: space-between;
}
header.conteiner nav > menu > li {
  padding: 20px 0 20px 20px;
  color: #333;
  font-family: "Righteous", cursive, "Roboto", sans-serif, "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
header.conteiner nav > a {
  display: inline-block;
}

.slide {
  background: url("./image/img_slide_bg.jpg") no-repeat;
  background-size: cover;
  padding: 0.1px;
  height: 700px;
}
.slide div button {
  padding: 20px;
  background-color: #ec1b2e;
}
.slide div + button:nth-child(2) {
  position: relative;
  left: -100px;
  top: 0;
}
.slide div button:nth-child(3) {
  position: relative;
  left: 1275px;
  top: 0;
}
.slide div > div {
  position: relative;
  top: 200px;
  left: 200px;
}
.slide div > div > p {
  color: #fff;
  font-family: "Righteous", cursive, "Roboto", sans-serif, "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
  width: 526px;
  padding: 15px 30px;
  background-color: rgba(51, 51, 51, 0.5);
}
.slide div > div button {
  color: #fff;
  font-family: "Righteous", cursive, "Roboto", sans-serif, "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  background-color: #ec1b2e;
  margin: 40px 0 0 0;
  padding: 15px 30px;
}

main section.school {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
main section.school article:nth-of-type(1) {
  border: 10px solid var(--accent, #ec1b2e);
  position: relative;
}
main section.school article:nth-of-type(1) h3 {
  position: absolute;
  top: -40px;
  left: 50px;
  padding: 0 20px;
  background-color: #fff;
  color: #333;
  font-family: "Righteous", cursive, "Roboto", sans-serif, "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
}
main section.school article:nth-of-type(1) p {
  width: 600px;
  padding: 75px 70px 40px;
  color: #333;
  font-family: "Righteous", cursive, "Roboto", sans-serif, "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
main section.prices h3 {
  margin-top: 100px;
  text-align: center;
  color: #333;
  font-family: "Righteous", cursive, "Roboto", sans-serif, "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
}
main section.prices menu.first_menu li {
  padding-left: 162px;
}
main section.prices menu.first_menu li button {
  width: 200px;
  color: #fff;
  font-family: "Righteous", cursive, "Roboto", sans-serif, "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  background-color: #ec1b2e;
  margin: 0;
  padding: 12px 20px;
}
main section.prices menu.second_menu li:first-child button {
  color: #ec1b2e;
}
main section.prices menu.second_menu button {
  color: #333;
  font-family: "Righteous", cursive, "Roboto", sans-serif, "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  background-color: rgba(236, 27, 44, 0);
  margin: 0;
  padding: 12px 20px;
}
main .table_prices {
  flex-direction: column;
}
main .table_prices div {
  border-bottom: 1px solid gray;
  justify-content: space-between;
}
main .table_prices div > ul:last-child > li > span {
  color: #fff;
  font-family: "Righteous", cursive, "Roboto", sans-serif, "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  background-color: #ec1b2e;
  margin: 0;
  padding: 2px;
}
main .table_prices div ul {
  padding: 20px 0;
}
main .table_prices div li {
  padding: 10px 0;
}
main .table_prices div:first-child {
  justify-content: space-between;
  margin: 0;
  padding-right: 645px;
  background-color: rgba(51, 51, 51, 0.05);
  border-bottom: none;
}
main .table_prices div:first-child > p {
  padding: 10px 0;
  color: #333;
  font-family: "Righteous", cursive, "Roboto", sans-serif, "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
main .table_prices div:first-child > p:nth-child(2) {
  margin-right: 80px;
}
main .table_prices > div:last-child {
  border-bottom: none;
}/*# sourceMappingURL=style.css.map */